@charset "UTF-8";

body{
    background-color: cadetblue;
font-size: 1.3em;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
color: white;
text-align: center;
}

section{
background-color: white;
border-radius: 10px;
padding: 15px;
margin: auto;
width: 500px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
}

div{
    text-align: center;
    padding: 10px;
}
footer{
color: white;
font-style: italic;
text-align: center;
}

section > div > img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}